/* .container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

.todoContainer {
  display: flex;
  flex-flow: column wrap;
  width: auto;
}
.todoContainer form {
  align-self: center;
}
input {
  font-size: 1.5rem;
}
button {
  font-size: 1.2rem;
  margin: 6px;
}

ol,
li {
  margin: 0px;
  padding: 5px;
}
li {
  font-size: 1.5em;
} */
